<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />

    <link rel="stylesheet" href="../style/output.css" />
  </head>
  <body>
    <footer class="bg-green-800 text-white pb-7">
      <!-- Social Media Links -->
      <div class="flex flex-wrap md:flex-nowrap text-center">
        <a
          href="#"
          class="flex-1 bg-blue-500 text-white py-3 text-lg font-semibold flex items-center justify-center border-r border-green-800 hover:bg-blue-800"
        >
          <i class="fab fa-facebook mr-2"></i> Facebook
        </a>
        <a
          href="#"
          class="flex-1 bg-purple-600 text-white py-3 text-lg font-semibold flex items-center justify-center border-r border-green-800 hover:bg-purple-800"
        >
          <i class="fab fa-twitter mr-2"></i> Twitter
        </a>
        <a
          href="#"
          class="flex-1 bg-yellow-500 text-white py-3 text-lg font-semibold flex items-center justify-center border-green-800 hover:bg-yellow-800"
        >
          <i class="fab fa-instagram mr-2"></i> Instagram
        </a>
      </div>

      <div class="container mx-auto px-4 mt-6">
        <!-- Contact & Address -->
        <div
          class="flex flex-col md:flex-row justify-around items-center text-center md:text-left"
        >
          <div class="font-bold">
            <p>Phone: +855 96 168 755</p>
            <p>Email: book.nest168@gmail.com</p>
          </div>

          <!-- Logo -->
          <div class="mb-4 ml-20 md:ml-4">
            <img
              src="../src/asset/images/image.png"
              alt="Logo"
              class="ml-[-50px] w-70 h-50 mx-auto"
            />
          </div>

          <div class="font-bold">
            <p>Khan SenSok,</p>
            <p>Phnom Penh Tmei,</p>
            <p>Dei Tmei, Street 51</p>
          </div>
        </div>

        <!-- CTA Button -->
        <div class="text-center mt-6 mb-8">
          <a
            href="#"
            class="bg-orange-500 text-white py-4 px-8 rounded-lg text-lg font-semibold hover:bg-orange-600"
            >Be our customer</a
          >
        </div>
      </div>
    </footer>
    <!-- FontAwesome for icons -->
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
