<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Header</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./src/style/output.css" />
  </head>
  <body>
    <nav class="bg-green-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="flex items-center space-x-2">
          <img src="../src/asset/img/image.png" class="h-25 w-24" alt="Logo" />
        </a>

        <button id="menu-toggle" class="text-white text-3xl md:hidden">
          &#9776;
        </button>

        <ul
          id="menu"
          class="hidden md:flex md:space-x-6 md:items-center bg-gray-700 md:bg-transparent w-full md:w-auto absolute md:static top-16 md:top-0 left-0 md:flex-row flex-col text-white font-bold p-4 md:p-0"
        >
          <li>
            <a href="#" class="block py-2 px-4 hover:text-yellow-500">Home</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-4 hover:text-yellow-500">About</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-4 hover:text-yellow-500"
              >Book list</a
            >
          </li>
          <li>
            <a href="#" class="block py-2 px-4 hover:text-yellow-500">Blog</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-4 hover:text-yellow-500"
              >Authors</a
            >
          </li>
          <li>
            <a href="#" class="block py-2 px-4 hover:text-yellow-500">FAQ</a>
          </li>

          <li>
            <button
              class="bg-yellow-400 text-white px-6 py-2 rounded text-lg font-bold hover:bg-yellow-600 transition duration-500 w-full md:w-auto"
            >
              Contact Us
            </button>
          </li>
        </ul>
      </div>
    </nav>

    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("click", function () {
          let menu = document.getElementById("menu");
          menu.classList.toggle("hidden");
        });
    </script>
  </body>
</html>
